@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/normal/400.woff2") format("woff2"), url("../fonts/montserrat/normal/400.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/normal/500.woff2") format("woff2"), url("../fonts/montserrat/normal/500.woff") format("woff");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: #533738;
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}

a:focus, a:active {
	opacity: 0.2;
}

.page {
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	color: #533738;
	background-color: #FFFFFF;
}

.header {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	padding: 36px 0 0;
}

.menu-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	width: 842px;
}

.main {
	width: 1400px;
	margin: 0 auto;
	background-color: #EFE6E4;
}

.advantages {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
	min-height: 715px;
	padding: 152px 700px 0 184px;
	background: #E2C4BA url("../images/advantages.jpg") center no-repeat;
	background-size: cover;
}

.advantages-heading {
	margin: 0;
	font-weight: 400;
	font-size: 50px;
	line-height: 62px;
}

.advantages-text {
	margin: 0 0 24px;
	padding: 20px 0 0;
	font-size: 18px;
	line-height: 30px;
}

.button {
	padding: 26px 68px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	background-color: #CC8B86;
}

.heading {
	padding: 65px 0 0;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
}

.features-heading {
	text-align: center;
}

.features-container {
	display: grid;
	grid-template-columns: 444px 1fr;
	grid-column-gap: 64px;
	padding: 40px 182px 20px;
}

.features-text {
	padding: 0 0 30px;
	font-size: 18px;
	line-height: 30px;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 86px 182px 74px;
	background-color: #8D7370;
	font-size: 30px;
	line-height: 50px;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
}

.features-item {
	width: min-content;
}

.features-item span {
	font-size: 50px;
	line-height: 62px;
}

.works {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 1200px;
	margin: 0 auto 0;
}

.works-heading {
	margin: 0 0 40px;
}

.works-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 26px;
}

.works-item {
	position: relative;
	width: min-content;
	min-height: 452px;
}

.works-description {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	height: 99%;
	padding: 88px 36px;
	opacity: 0;
}

.works-description:hover, .works-description:focus, .works-description:active {
	background-color: rgba(100, 72, 69, 0.8);
	opacity: 1;
}

.works-headline {
	padding: 0 60px 20px;
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	text-align: center;
}

.works-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
}

.works-button {
	align-self: center;
	margin-top: 36px;
	padding: 0 70px 0 0;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	background: url(../images/arrow.svg) right no-repeat;
}

.people {
	margin-top: 66px;
	padding: 50px 180px 34px;
	background-color: #E2C4BA;
}

.people-heading, .steps-heading {
	padding: 0;
	text-align: center;
}

.people-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	margin-top: 40px;
}

.people-item {
	box-sizing: border-box;
	max-width: 320px;
}

.people-text {
	margin-top: 4px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

.steps {
	padding: 0 100px 80px;
	background-color: #E2C4BA;
}

.steps-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding-top: 40px;
	list-style-type: none;
	counter-reset: item;
}

.steps-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}

.steps-item:before {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 30px;
	line-height: 30px;
	background-color: #8D7370;
	border-radius: 50%;
	content: counter(item);
	counter-increment: item;
}

.reviews {
	position: relative;
	padding-top: 66px;
	padding-bottom: 64px;
}

.reviews-heading {
	padding: 0;
	text-align: center;
}

.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}

.slide {
	display: grid;
	grid-template-columns: 408px 408px;
	gap: 20px;
}

.slide-description {
	display: flex;
	flex-direction: column;
	padding-top: 60px;
}

.slide-description cite {
	padding-top: 40px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.slide-text {
	padding-top: 30px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

.slide-images {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.slider-controls {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1036px;
	transform: translate(-50%, -50%);
}

.slider-button {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 72px;
	height: 72px;
	background-color: #8D7370;
	border-style: none;
	border-radius: 50%;
	cursor: pointer;
}

.request {
	display: grid;
	grid-template-columns: repeat(2, 590px);
	gap: 20px;
	min-height: 624px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #8D7370;
}

.request-wrapper {
	padding-top: 50px;
	padding-left: 84px;
	color: #FFFFFF;
}

.request-heading {
	padding-top: 0;
}

.request-text {
	padding-top: 24px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

.request-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-top: 40px;
}

.request-input {
	display: block;
	outline: 0;
}

.request-input, .request-input::placeholder {
	padding-bottom: 10px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	background: none;
	border-width: 1px;
	border-style: hidden;
	border-bottom-style: solid;
}

.request-button {
	align-self: flex-start;
	border: none;
}

.request-button:hover {
	opacity: 0.7;
}

.request-button:focus, .request-button:active {
	opacity: 0.2;
}

#mapId {
	width: 590px;
	height: 624px;
	background-image: url('images/map.jpg');
	background-size: cover;
}

.footer {
	display: grid;
	grid-template-columns: 170px 1fr 170px;
	gap: 40px;
	width: 1200px;
	margin: auto;
	padding: 38px 100px;
	background-color: #EFE6E4;
}

.footer p {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}
